<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Journal App at the
  <a href="https://devdocs.io/rails~7.0/">Ruby on Rails Docs page</a>.
  To get help on this journal app, see the
  <a href="https://edgeguides.rubyonrails.org/index.html"><em>Rails Guides</em>
    page</a>.
</p>
