<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= task.desc %>
  </p>
  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>
</div>
