<div class="card">
  <div class="card-header">
    <h1>Edit Task</h1>
    <br>
  </div>
  <div class="card-body">
    <%= render "form", task: @task %>
    <br>
  </div>
  <div>
    <%= link_to "Show this task", [@category, @task], class: 'btn btn-warning'%> |
    <%= link_to "Back to tasks", category_tasks_path(@category), class: 'btn btn-dark'  %>
  </div>
</div>
