<div class="card">
  <div class="card-header">
    <h1>New Task</h1>
    <br>
  </div>
  <div class="card-body">
    <%= render "form", task: @task %>
    <br>
  </div>
  <div>
    <%= link_to "Back to tasks", category_tasks_path(@category), , class: 'btn btn-dark' %>
  </div>
</div>
