<!-- inside app/views/home/index.html.erb -->
<h1>This is h1 title</h1>
<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
