<div class="card">
  <div class="card-header">
    <h1>Edit Category</h1>
    <br>
  </div>
  <div class="card-body">
    <%= render "form", category: @category %>
    <br>
  </div>
  <div>
    <%= link_to "Show this category", @category, class: 'btn btn-warning' %> |
    <%= link_to "Back to categories", categories_path, class: 'btn btn-dark' %>
  </div>
</div>
